@font-face {
    font-family: "SF Pro Display";
    src: url("./shrift/SF-Pro-Display-Regular.otf") format(".otf");
    font-weight: 400;
  }
  
  // General Styles
  
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: rgb(255,255,255);
}

.heading h2{
    font-family: 'SF-Pro_Bold';
    font-size: 2.5rem;
    line-height: 3rem;
    color: #000;
    text-transform: uppercase;
}
.Trash{
    margin-top: 15rem;
}
.Trash .products-item{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
.Trash .products-item .product-price .list-items{
    display: flex;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1.5rem;
    width: 76rem;
    height: 12rem;
    align-items: center;
    gap: 10rem;
    margin-bottom: 1.6rem;
}
.Trash .products-item .product-price .list-items .left-item{
    display: flex;
    align-items: center;
}
.Trash .products-item .product-price .list-items .left-item .content{
    width: 15.9rem;
}
.Trash .products-item .product-price .list-items .left-item .content p{
    font-size: 1.6rem;
    font-family: 'SF-Pro_Regular';
    line-height: 26px;
    color: #000;
    opacity: .5;
    width: 15.9rem;
}
.Trash .products-item .product-price .list-items .left-item .content h2{
    width: 15.9rem;
    font-size: 2rem;
    font-family: 'SF-Pro_Medium';
    font-weight: 500;
}
.Trash .products-item .product-price .list-items .left-item .image{
    width: 12rem;
    height: 10rem;
}
.Trash .products-item .product-price .list-items .left-item img{
    width: 100%;
    height: 100%;
}
.Trash .products-item .product-price .list-items .right-item h3{
    font-size: 2rem;
    line-height: 4rem;
    color: #000;
    font-family: 'SF-Pro_Semibold';
} 
.Trash .products-item .product-price .list-items .right-item .close_btn{
    font-size: 2.2rem;
    color: rgba(0,0,0,.5);
    font-weight: 600;
}
.Trash .products-item .product-price .list-items .right-item .close_btn:hover{
    color: var(--red);
}

/* .Trash .products-item .product-price .list-items .right-item h3::after{
    content: "\002B";
    width: 12.7rem;
} */

/*
minus znak content kod
    content: "\2212";
*/
.Trash .products-item .product-price .list-items .right-item{
    display: flex;
    align-items: center;
    gap: 4.4rem;
}
.products-item .total-price{
    border: 1px solid rgba(207,207,207,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #fafafa;
    border-radius: 1rem;
    padding: 2rem;
    width: 33rem;
    height: 26rem;
}
.products-item .total-price .btn_red{
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    font-size: 2rem;
}
.products-item .total-price h2{
    font-size: 2.4rem;
    line-height: 40px;
    color: #000;
    font-family: 'SF-Pro_Semibold';
    margin-bottom: 0.6rem;
}
.products-item .total-price .products_names .item-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.products-item .total-price .products_names .item-1 p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.6rem;
    line-height: 24px;
    color: rgba(0,0,0,.5);
}
.products-item .total-price .products_names .item-1 span{
    font-family: 'SF-Pro_Semibold';
    font-size: 1.6rem;
    line-height: 24px;
    color: #000;
}
.count-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: .1rem solid rgba(0,0,0,.2);
    width: 10.8rem;
    padding: .5rem 0;
    gap: 1rem;
}
.count-btn .minus
{
    width: 10px;
    color: #000;
    font-size: 2.5rem;
    border-right:1px solid #000;
    opacity: .5;
    padding-right: 2rem;
}
.count-btn .num{
    font-size: 2rem;
    padding-right: 1rem;
    border-right:1px solid rgba(0,0,0,.5);
    font-family: 'SF-Pro_Semibold';

}
.count-btn .plus{
    font-size: 2rem;
}

.btn{
    background: var(--red);
    padding: 1rem 3rem;
    color:#fff;
    margin-left: 1rem;
    border-radius: .5rem;
    border:.1rem solid #e80001;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing:border-box;
}
.btn::before
{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #fff;
    transition: .3s linear;
    top: 0;
    right: 0;
    z-index: -1;
} 
.btn:hover::before{
    width: 100%;
    left: 0;
    transition: .5s linear;
} 
.buy-1{
    width: 13.2rem;
    margin-top: 0;
    gap: 1.7rem;
    border-color:rgba(0,0,0,.3);   
}
.buy:hover{
    background: transparent;
    cursor: pointer;
}
.buy-1 .minus
{
    color: rgba(0,0,0,.5);
    font-size: 2.5rem;
    width: 27px;
    border-right: 0.1rem solid rgba(0,0,0,.5);
}

.buy-1 .plus{
    color: rgba(0,0,0,.5);
    font-size: 2.5rem;
}
.buy-1 .num{
    font-size: 2.5rem;
    color: #000;
    width: 27px;
    border-right: 0.1rem solid rgba(0,0,0,.5);
}
.icons button span{
    font-size: 1.7rem;
}
.btn:hover{
    color: rgb(0, 0, 0);
}
.btn_red{
    color: red;
    background: #fff;
    border: .1rem solid var(--red);
    border-radius: .5rem;
    box-sizing: border-box;
    height: 50px;
    margin-top: 20px;
    width: 70%;
    margin-left: 3.9rem;
    /* padding: 13px 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_red:hover{
    background: var(--red);
    color: #fff;
    /* transition: .3s linear; */
}
.btn_red span{
    font-size: 1.7rem;
    font-family: 'SF-Pro_Medium';
}

.btn_play-market {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid #000;
    border-radius: .5rem;
    padding: 8px;
    margin-bottom: 3px;
    cursor:pointer;
}
.btn_play-market  .text{
    display: flex;
    flex-direction: column;        
}
.btn_play-market  i{
    font-size: 20px;
}

.btn_play-market  .text .min{
    font-size: 10px;
    line-height: 5px;
    text-transform: uppercase;
}
 .btn_play-market  .text .max{
    font-size: 16px;
    font-family: var(--SF-Pro_Bold);
}

section{
    padding: 2rem 9%;
}


.footer-start{
    margin-top: 11rem;
}
.footer-start .lines{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-start .lines .line-1 .facebook{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer-start .lines .line-1 .facebook i{
    font-size: 2.5rem;
    color: blue;
    padding: 0.1rem;
}
.footer-start .lines .line-1 .facebook span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid #0a52ee;
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .telegram{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1 .telegram i{
    font-size: 2.5rem;
    color: rgb(0, 153, 255);
    padding: 0.1rem;
}
.footer-start .lines .line-1 .telegram span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid #0a52ee;
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .telegram span:hover,
.footer-start .lines .line-1 .facebook span:hover{
    background: #058fc5;
    color: #fff;
    transition: .5s ease;
    cursor:pointer;
    border-radius: 0 1rem 0 1rem;
}
.footer-start .lines .line-1 .instagram{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1 .instagram i{
    font-size: 2.5rem;
    color: var(--red);
    padding: 0.1rem;
}
.footer-start .lines .line-1 .facebook i:hover,
.footer-start .lines .line-1 .telegram i:hover,
.footer-start .lines .line-1 .instagram i:hover{
    transform: rotate(360deg);
    transition: all 1.5s ease;
}
.footer-start .lines .line-1 .instagram span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid var(--red);
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .instagram span:hover{
    background: var(--red);
    color: #fff;
    transition: .5s ease;
    border-radius: 0 1rem 0 1rem;
}
.footer-start .lines .line-2 .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-start .lines .line-2 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-start .lines .line-2 .links a{
    color:#000;
    font-size: 1.6rem;
    line-height: 19px;
    font-family: 'SF-Pro_Regular';
    margin-bottom: 2px;
}
.footer-start .lines .line-2 .links a:hover{
    text-decoration: underline;
}
.footer-start .lines .line-3 .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-start .lines .line-3 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-start .lines .line-3 .links a{
    color:#000;
    font-size: 1.6rem;
    line-height: 19px;
    font-family: 'SF-Pro_Regular';
    margin-bottom: 2px;
}
.footer-start .lines .line-3 .links a:hover{
    text-decoration: underline;
}
.footer-start .lines .line-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.footer-start .lines .line-4 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
    position: absolute;
    top: -40px;
}
.footer-start .lines .line-4 h1:hover{
    color: rgb(11, 76, 255);
    cursor:pointer;
}
.footer-start .lines .line-4 p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.6rem;
    line-height: 26px;
    width: 23.6rem;
}

.footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer section p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.4rem;
    line-height: 20px;
    color: #000;
}
.footer section .apps{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.footer section .apps p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.4rem;
    line-height: 20px;
    color: #000;

}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }
  
  button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  input {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  
  body {
    font-family: "SF Pro Display", sans-serif;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .padd-15 {
    padding: 0 15px;
  }
  
  section {
    margin-bottom: 70px;
    .section-banner {
      .banner-item {
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 30px;
      }
    }
  }
  
  .section-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #000000;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
  
  .section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .lr-btns {
      display: flex;
      align-items: center;
      .arrow-btn {
        opacity: 0.3;
      }
      .active {
        opacity: 1 !important;
      }
      button:hover {
        opacity: 1;
      }
    }
  }
  
  .card {
    width: 100%;
    padding: 10px 0 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &:hover {
      .card-img {
        img {
          transform: scale(1.03);
        }
      }
      .card-info {
        .price {
          .current-price {
            color: #e80001;
          }
        }
      }
    }
    .card-img {
      width: 100%;
      height: 210px;
      margin-bottom: 20px;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
      }
    }
  
    .card-info {
      padding: 0 10px 0 24px;
      .price {
        .current-price {
          display: flex;
          align-items: center;
          font-size: 24px;
          font-weight: 600;
          color: #000000;
          line-height: 30px;
          margin-bottom: 4px;
  
          .count {
            margin-right: 4px;
          }
          .money {
            margin-right: 3px;
          }
          .price-type {
            margin-left: 3px;
          }
        }
        .old-price {
          font-size: 16px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
          display: inline-block;
          position: relative;
          margin-bottom: 6px;
          .count {
            margin-right: 4px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .product-name {
        font-size: 18px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        line-height: 30px;
        margin-bottom: 20px;
        display: block;
      }
      .add-cart__btn {
        width: 180px;
        height: 50px;
        border: 1px solid #e80001;
        border-radius: 8px;
        background-color: transparent;
        font-size: 16px;
        font-weight: 500;
        color: #e80001;
        &:hover {
          background-color: #e80001;
          color: #ffffff;
        }
      }
    }
  }
  
  // Intro Section
  
  .header {
    max-width: 1140px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 15px;
    position: sticky;
    top: 0;
    z-index: 99;
    
    .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #f8f8f8;
      transition: all 0.3s ease;
  
      .lang-close {
        display: none;
      }
      .nav {
        .nav-list {
          display: flex;
          li {
            &:not(:last-child) {
              margin-right: 40px;
            }
            a {
              font-size: 16px;
              font-weight: 400;
              color: #000000;
              position: relative;
              transition: 0.2s;
  
              &::after {
                content: "";
                width: 0;
                height: 2px;
                border-radius: 2px;
                background-color: #e80001;
                position: absolute;
                left: 0;
                bottom: -4px;
                transition: 0.2s;
              }
              &:hover {
                color: #e80001;
                &::after {
                  width: 70%;
                }
              }
            }
          }
        }
      }
  
      .right {
        .register-btn {
          display: none;
          width: 180px;
          height: 50px;
          border-radius: 8px;
          background-color: #ffffff;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
        }
        .call-center {
          .title {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            margin-right: 5px;
          }
          a {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            i {
              margin-right: 4px;
            }
          }
        }
      }
    }
    .subheader {
      padding: 24px 0;
      border-bottom: 1px solid #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-side {
        display: flex;
        align-items: center;
        .logo {
          margin-right: 50px;
        }
        .searchbar {
          display: flex;
          align-items: center;
          height: 52px;
          label {
            width: 50px;
            height: 100%;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-radius: 8px 0 0 8px;
          }
          input {
            width: 400px;
            height: 100%;
            background-color: #f8f8f8;
            font-size: 16px;
            font-weight: 500;
            padding-right: 20px;
            border-radius: 0 8px 8px 0;
            &::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
      .right-side {
        display: flex;
        align-items: center;
        .change-lang {
          width: 24px;
          overflow-x: hidden;
          display: flex;
          align-items: center;
          margin-right: 40px;
          transition: all 0.2s ease;
          .lang-btn {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            width: 24px;
          }
  
          .btn-1 {
            margin-right: 5px;
          }
        }
        .cart {
          margin-right: 40px;
          position: relative;
          cursor: pointer;
          .product-count {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #e80001;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -7px;
            right: -7px;
            span {
              font-size: 13px;
              font-weight: 500;
              color: #ffffff;
            }
          }
        }
        .register-btn {
          width: 180px;
          height: 50px;
          border-radius: 8px;
          background-color: #e80001;
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
          border: 1px solid #e80001;
          &:hover {
            background-color: transparent;
            color: #e80001;
          }
        }
        .nav-btn {
          display: none;
        }
      }
    }
  }

  .section-6 {
    margin-bottom: 140px;
    .container {
      width: 100%;
    }
    .section-banner {
      width: 100%;
      padding: 50px 50px 35px 50px;
      border-radius: 20px;
      background-color: #fff3de;
      position: relative;
      display: flex;
      .banner-info {
        max-width: 530px;
        .banner-title {
          font-size: 32px;
          font-weight: 700;
          line-height: 44px;
          color: #000000;
          margin-bottom: 16px;
        }
        .text {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #000000;
          max-width: 410px;
          margin-bottom: 40px;
          span {
            font-weight: 600;
          }
        }
  
        .app {
          display: flex;
          align-items: center;
        }
      }
      .banner-img {
        position: absolute;
        right: 100px;
        bottom: -3px;
      }
    }
  }
  
  .btns {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    .app-btn {
      width: 130px;
      height: 38px;
      border: 1px solid #000000;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 7px;
        span:first-child {
          font-weight: 600;
          font-size: 8px;
          color: #000000;
        }
        span:nth-child(2) {
          color: #000000;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .android-btn {
      margin-bottom: 7px;
    }
  }
  
  // Footer
  
  .footer {
    .footer-banner {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      .banner-item {
        flex: 0 0 25%;
        max-width: 25%;
        .social-networks {
          display: flex;
          margin-top: 30px;
          li {
            &:not(:last-child) {
              margin-right: 28px;
            }
            a {
              i {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.3);
                transition: all 0.2s ease;
              }
              &:hover {
                i {
                  color: #e80001;
                }
              }
            }
          }
        }
        .title {
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          color: #000000;
          margin-bottom: 16px;
        }
        .item-list {
          li {
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            a {
              font-size: 16px;
              font-weight: 400;
              color: #000000;
              transition: all 0.2s ease;
              &:hover {
                padding-left: 5px;
              }
            }
          }
        }
        .phone-number {
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          color: #009ef8;
          margin-bottom: 16px;
          display: block;
        }
        .text {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          color: #000000;
        }
      }
    }
  
    .footer-bottom {
      padding: 16px 0 30px 0;
     
      display: flex;
      align-items: center;
      justify-content: space-between;
      .subtext {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.3);
      }
      .right-side {
        display: flex;
        align-items: center;
        .btns {
          flex-direction: row;
          margin-left: 20px;
          .android-btn {
            margin-bottom: 0;
            margin-right: 10px;
          }
        }
      }
    }
  }


  @media screen and (max-width: 1112px) {
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide .info-side {
      flex: 0 0 55%;
      max-width: 55%;
      padding: 40px 40px 0 40px;
    }
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide .img-side {
      flex: 0 0 45%;
      max-width: 45%;
    }
    .intro .product-nav .nav-list li:not(:last-child) {
      margin-right: 30px;
    }
  
    .card .card-info .price .current-price {
      font-size: 20px;
    }
  
    .section-6 .section-banner .banner-img {
      right: 50px;
      img {
        width: 300px;
      }
    }
  }
  
  @media screen and (max-width: 991px) {
    section {
      margin-bottom: 30px;
    }
    .section-title {
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 20px;
    }
     .header .subheader .left-side .searchbar {
      height: 40px;
    }
     .header .subheader .left-side .searchbar input {
      width: 210px;
    }
  
     .header .subheader .left-side .searchbar label {
      width: 30px;
      padding: 0;
      justify-content: center;
      img {
        width: 15px;
      }
    }
  
     .header .subheader .right-side .register-btn {
      height: 40px;
      width: 160px;
    }
  
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide .info-side .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
    }
  
    .intro .product-nav .nav-list li:not(:last-child) {
      margin-right: 25px;
    }
    .intro .product-nav .nav-list li a {
      display: block;
      padding: 8px 10px;
      font-size: 14px;
    }
  
    section .section-banner .banner-item {
      flex: 33.33%;
      max-width: 33.33%;
    }
  
    .section-3 .banner-item .box {
      height: 170px;
    }
    .section-3 .banner-item .box .box-info .title {
      font-size: 16px;
  
      line-height: 24px;
    }
  
    .section-6 .section-banner {
      padding: 30px 20px;
    }
  
    .section-6 .section-banner .banner-info {
      max-width: 430px;
    }
  
    .section-6 .section-banner .banner-info .banner-title {
      font-size: 26px;
      line-height: 36px;
    }
  
    .section-6 .section-banner .banner-img {
      right: 20px;
      img {
        width: 260px;
      }
    }
    .section-5 {
      margin-bottom: 50px;
    }
  
    .footer .footer-banner .banner-item .title,
    .footer .footer-banner .banner-item .phone-number {
      font-size: 18px;
    }
  
    .modal-wrapper .modal-box {
      width: 760px;
    }
  }
  
  @media screen and (max-width: 767px) {
    section{
        padding: 2rem;
    }
    .modal-wrapper .modal-box {
      width: 80%;
      
      flex-wrap: wrap;
      padding: 20px;
      .product-img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
      }
      .product-info {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  
    .modal-wrapper .modal-box .product-img {
      flex-direction: row;
      .main-img {
        width: 210px;
        height: 210px;
        margin-right: 10px;
      }
  
      .other-imgs {
        flex-direction: column;
        .pr-other__img:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  
    .modal-wrapper .modal-box .product-info .info-top .product-title {
      font-size: 20px;
      line-height: 30px;
    }
  
    .modal-wrapper .modal-box .product-info .text {
      max-width: 100%;
    }
  
    .header {
      position: fixed;
      width: 100%;
      padding-left: 0;
      left: 0;
      padding: 0 2rem;
    }
    section{
        padding: 2rem;
    }
  
    .header .subheader .right-side .register-btn {
      display: none;
    }
     .header .subheader .right-side .change-lang {
      display: none;
    }
  
     .header .subheader .right-side .cart {
      margin-right: 35px;
    }
  
     .header .subheader .right-side .nav-btn {
      display: block;
    }
  
     .header .subheader .left-side .searchbar input {
      width: 250px;
    }
  
     .header .header-top {
      position: fixed!important;
      flex-direction: column;
      z-index: 999999;
      width: 100%;
      height: 100%;
      right: -100%;
      background-color: rgba(0, 0, 0, 0.85);
      border-bottom: none;
      padding: 70px 25px;
    }
     .header .header-top .lang-close {
      display: flex;
      width: 100%;
      justify-content: space-between;
  
      .lang {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
      }
    }
  
     .header .header-top .nav .nav-list {
      flex-direction: column;
      text-align: center;
      li {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 18px;
        }
  
        a {
          font-size: 26px;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  
     .header .header-top .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      .register-btn {
        display: block;
        margin-bottom: 40px;
      }
    }
     .header .header-top .right .call-center .title,
     .header .header-top .right .call-center a {
      color: #ffffff;
    }
  
    .intro {
      padding-top: 96px;
    }
  
    .intro .intro-banner {
      height: auto;
    }
  
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      .info-side {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 0 0 20px 20px !important;
        padding: 20px 20px 50px 20px;
      }
  
      .intro .intro-banner {
        height: auto;
      }
  
      .img-side {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 20px 20px 0 0 !important;
        height: 250px !important;
      }
    }
  
    section .section-banner .banner-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .section-3 .banner-item {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  
    .section-6 .section-banner {
      flex-direction: column-reverse;
      padding: 0 16px 20px;
      .banner-img {
        position: relative;
        right: auto;
        bottom: auto;
        text-align: center;
        top: -40px;
      }
    }
  
    .footer .footer-banner .banner-item {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 40px;
    }
  }
  
  @media screen and (max-width: 575px) {
    
    
    .modal-wrapper .modal-box {
      width: 90%;
    }
  
    .modal-wrapper .modal-box .product-info .modal-btns .buy-btn {
      width: 90px;
      height: 44px;
      font-size: 14px;
      margin-right: 10px;
    }
    section{
        padding: 2rem;
    }
    .modal-wrapper .modal-box .product-info .modal-btns .cart-btn {
      width: 150px;
      height: 44px;
      font-size: 14px;
    }
  
    .m-searchbar {
      display: flex !important;
    }
  
    .header .subheader .left-side .searchbar {
      display: none;
    }
  
     .header .subheader .left-side .logo {
      margin-right: 0;
    }
  
     .header .subheader {
      border-bottom: none;
    }
    .intro .product-nav .nav-list {
      overflow-x: auto;
    }
  
    .intro .product-nav .nav-list li a {
      line-height: 18px !important;
      width: max-content;
    }
  
    .intro .product-nav .nav-list li:not(:last-child) {
      margin-right: 15px !important;
    }
  
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide .info-side .title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 8px;
    }
  
    .intro .intro-banner .swiper .swiper-wrapper .swiper-slide .info-side .text {
      margin-bottom: 24px;
    }
  
    .swiper-pagination .swiper-pagination-bullet {
      width: 40px !important;
    }
  
    .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
      margin-right: 6px !important;
    }
  
    .section-title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 16px;
    }
  
    .card .card-img {
      height: 130px;
    }
  
    .card .card-info .price .current-price {
      font-size: 14px;
    }
  
    .card .card-info .product-name {
      font-size: 14px;
      margin-bottom: 16px;
    }
  
    .card .card-info {
      padding: 0 10px 10px 10px;
    }
  
    .card .card-info .add-cart__btn {
      width: 100%;
      font-size: 12px;
    }
   
    .Trash .products-item{
        flex-direction: column;
    }
    .card .card-info .price .old-price {
      font-size: 12px;
    }
  
    section .section-banner .banner-item {
      margin-bottom: 16px;
    }
  
    .section-6 .section-banner .banner-img {
      top: -20px;
      img {
        width: 240px;
      }
    }
  
    .section-6 .section-banner .banner-info .banner-title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 8px;
    }
  
    .footer .footer-bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  
    .footer .footer-bottom .right-side {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer .footer-bottom .right-side .btns {
      margin: 12px 0 16px 0;
    }
  
    .footer .footer-banner {
      margin-bottom: 10px;
    }
  
    .row {
      margin: 0 -6px !important;
    }
  
    .padd-15 {
      padding: 0 6px !important;
    }
  
    .section-6 {
      margin-bottom: 80px;
    }
  }
  
  @media screen and (max-width: 399px) {
    .modal-wrapper .modal-box .product-img .main-img {
      width: 170px;
      height: 170px;
    }
  
    .modal-wrapper .modal-box .product-img .other-imgs .pr-other__img {
      width: 50px;
      height: 50px;
    }
  
    .modal-wrapper .modal-box .product-info .info-top .product-title {
      font-size: 18px;
      line-height: 26px;
    }
  
    .modal-wrapper .modal-box .product-info .info-top .del-info .info {
      width: 50px;
      img {
        width: 10px;
      }
      span {
        font-size: 10px;
      }
    }
  
    .modal-wrapper .modal-box .product-info .text {
      font-size: 12px;
      line-height: 16px;
    }
  
    .modal-wrapper .modal-box .product-info .current-price {
      font-size: 20px;
      line-height: 24px;
    }
  
    .modal-wrapper .modal-box .product-info .old-price {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  
    .intro .m-searchbar {
      width: 100%;
    }
  
    .card .card-img {
      height: 100px;
    }
  
    .card .card-info .price .current-price {
      font-size: 10px;
    }
  
    .card .card-info .product-name {
      font-size: 10px;
      line-height: 18px;
    }
  
    .card .card-info .add-cart__btn {
      font-size: 10px;
      height: 40px;
    }
  
    .section-3 .banner-item .box .box-info .title {
      font-size: 14px;
      line-height: 20px;
    }
  
    .card .card-info .price .old-price {
      font-size: 10px;
    }
  
    .footer .footer-banner .banner-item .item-list li a {
      font-size: 12px;
      line-height: 18px;
    }
  
    .footer .footer-banner .banner-item .item-list li:not(:last-child) {
      margin-bottom: 5px;
    }
  
    .footer .footer-banner .banner-item .text {
      font-size: 12px;
      line-height: 18px;
    }
  
    .footer .footer-banner .banner-item .title,
    .footer .footer-banner .banner-item .phone-number {
      font-size: 14px;
    }
  
    .section-6 {
      margin-bottom: 50px;
    }
}
  
  .changeLang {
    width: 60px !important;
    margin-right: 0 !important;
  }
  
  .open-nav {
    right: 0 !important;
  }
  
  .opacity {
    opacity: 0;
  }

/* No CSS *//*# sourceMappingURL=korzinka.css.map */