{% load static %}
<!-- Section 6 End -->
<section class="section-6">
    <div class="container">
        <div class="section-banner">
            <div class="banner-info">
                <h2 class="banner-title">
                    MOBIL ILOVAMIZNI YUKLAB OLING VA TEZDA BUYURTMA QILING
                </h2>
                <p class="text">
                    <span>“Inmart”</span> supermarketining mobil ilovasida yanada
                    ko’proq imkoniyatlarga ega bo’lishingiz mumkin
                </p>
                <div class="app">
                    <img src="{% static 'images/icons/qr.png' %}" alt="qr"/>
                    <div class="btns">
                        <button class="app-btn android-btn">
                            <img src="{% static 'images/icons/android.svg' %}" alt=""/>
                            <span class="title">
                    <span>GET IT ON</span>
                    <span>Google Play</span>
                  </span>
                        </button>
                        <button class="app-btn ios-btn">
                            <img src="{% static 'images/icons/ios.svg' %}" alt=""/>
                            <span class="title">
                    <span>Download on the</span>
                    <span>App Store</span>
                  </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="banner-img">
                <img src="{% static 'images/main/smartphone.png' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- Section 6 End -->