{% extends 'bases.html' %}
{% load static %}
{% block css %}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
{% endblock %}
{% block content %}
    <!-- Intro Section Start -->
    <section class="intro">
        <div class="container">
            <form action="{% url 'stores:search' %}">
                {% csrf_token %}
                <div class="m-searchbar">
                    <label for="searchInput">
                        <button type="submit">
                            <img src="{% static 'images/icons/search.png' %}" alt="search"/>
                        </button>
                    </label>
                    <input
                            name="q"
                            id="searchInput"
                            type="text"
                            placeholder="Mahsulotlarni qidirish"
                    />
                </div>
            </form>
            <div class="intro-banner">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="info-side">
                                <h1 class="title">
                                    BIZ SIZGA HAR QANDAY MAHSULOTNI YETKAZAMIZ
                                </h1>
                                <p class="text">
                                    Turli xil oziq-ovqat mahsulotlarini
                                    <span>“Inmart”</span> supermarketi orqali tez va sifatli
                                    buyurtma qilishingiz mumkin. Biz bilan birga bo’ling.
                                </p>
                                <button class="order-btn">Buyurtma berish</button>
                            </div>
                            <div class="img-side">
                                <img src="{% static 'images/main/slide/1.png' %}" alt="img"/>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="info-side">
                                <h1 class="title">
                                    BIZ TELEGRAMDA!!!!
                                </h1>
                                <p class="text">
                                    Telegram-kanal — aksiyalardan xabardor <br> bo’ling <br>
                                    Bizda har hafta aksiyalar shoshiling!!!! <br><br>
                                </p>
                                <button class="order-btn">
                                    <a href="https://t.me/inmart_supermarket" class="channel"
                                       style="color: rgb(67, 211, 0);">Kanalga o'tish &#8594</a>
                                </button>
                            </div>
                            <div class="img-side">
                                <img src="{% static 'images/icons/tg.jpg' %}" alt="img"/>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="info-side">
                                <h1 class="title">
                                    BIZNI INSTAGRAMDA HAM KUZATING
                                </h1>
                                <p class="text">
                                    Endilikda <span>“Inmart”</span>da bo'layotgan <br> aksiyalar,yangiliklar va
                                    chegirmalar haqida instagram sahifamizda ham kuzatishingiz mumkin!!
                                </p>
                                <button class="order-btn">
                                    <a href="https://www.instagram.com/inmart_supermarket/" class="channel"
                                       style="color: red;">Instagramga o'tish&#8594</a>
                                </button>
                            </div>
                            <div class="img-side">
                                <img src="{% static 'images/icons/ins.jpg' %}" alt="img"/>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <nav class="product-nav">
                <ul class="nav-list">
                    <li><a class="filter_btn" href="#" data-filter-type="_all">
                        Barchasi
                    </a></li>
                    {% for category in categories %}
                        <li>
                            <a class="filter_btn" href="#" data-filter-type="_{{ category.slug }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </section>
    <!-- Intro Section End -->

    <!-- Section 2 -->
    <section class="section-2">
        <div class="container">
            <div class="section-top">
                <h2 class="section-title">
                    TOP MAHSULOTLAR
                </h2>
                <div class="lr-btns">
                    <button class="arrow-btn left-btn" id="prev_btn">
                        <img src="{% static 'images/icons/leftarrow.svg' %}" alt="left"/>
                    </button>
                    <button class="arrow-btn right-btn active" id="next_btn">
                        <img src="{% static 'images/icons/rightarrow.svg' %}" alt="right"/>
                    </button>
                </div>
            </div>
            <div class="section-banner">
                <div class="row">
                    <!-- Item -->
                    {% for product in products %}
                        <div class="banner-item padd-15 box_1" data-item-type="_{{ product.category.slug }}">
                            <div class="card">
                                <div class="card-img produc">
                                    <img src="{{ product.get_images.image1 }}" alt="img"/>
                                </div>
                                <div class="card-info">
                                    {% if product.is_stock %}
                                        <div class="price">
                                            <div class="current-price">
                                                <span class="count">
                                                    {{ product.get_price.price }}
                                                </span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                    {{ product.qty }}
                                                </span>
                                            </div>
                                            <div class="old-price" style="color: red">
                                                <span class="count">
                                                    {{ product.get_price.old_price }}
                                                </span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                {{ product.qty }}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            <div class="current-price">
                                                <span class="count">
                                                    {{ product.price }}
                                                </span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                    {{ product.qty }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <span class="product-name">
                                        {{ product.name }}
                                    </span>
                                    <button class="add-cart__btn" onclick="modal_func({{ product.id }})">
                                        Savatchaga qo’shish
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Product Modal Start-->
                        <div style="display: none;" class="modal-wrapper modal-{{ product.id }}">
                            <div class="modal-box">
                                <div class="product-img">
                                    <div class="main-img">
                                        <img id="edit-image-{{ product.id }}" src="{{ product.get_images.image1 }}"
                                             alt="img"/>
                                    </div>
                                    <div class="other-imgs">
                                        <div class="pr-other__img">
                                            <img src="{{ product.get_images.image1 }}" alt="img"
                                                 onclick="change_image('{{ product.get_images.image1 }}', {{ product.id }})"/>
                                        </div>
                                        {% if product.get_images.image2 %}
                                            <div class="pr-other__img">
                                                <img src="{{ product.get_images.image2 }}" alt="img"
                                                     onclick="change_image('{{ product.get_images.image2 }}', {{ product.id }})"/>
                                            </div>
                                        {% endif %}
                                        {% if product.get_images.image3 %}
                                            <div class="pr-other__img">
                                                <img src="{{ product.get_images.image3 }}" alt="img"
                                                     onclick="change_image('{{ product.get_images.image3 }}', {{ product.id }})"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="info-top">
                                        <h2 class="product-title">
                                            {{ product.name }}
                                        </h2>
                                        <div class="del-info">
                                            <div class="info">
                                                <img src="{% static 'images/icons/time.svg' %}" alt="info"/>
                                                <span>15 daq</span>
                                            </div>
                                            <div class="info">
                                                <img src="{% static 'images/icons/distance.svg' %}" alt="info"/>
                                                <span>1.2 km</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text">
                                        {{ product.description }}
                                    </p>
                                    {% if product.is_stock %}
                                        <div class="price">
                                            <div class="current-price">
                                                <span class="count">{{ product.get_price.price }}</span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                   {{ product.qty }}
                                                </span>
                                            </div>
                                            <div class="old-price" style="color: red">
                                                <span class="count">
                                                    {{ product.get_price.old_price }}
                                                </span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                    {{ product.qty }}
                                                </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            <div class="current-price">
                                                <span class="count">{{ product.price }}</span>
                                                <span class="money">so'm</span>
                                                /
                                                <span class="price-type">
                                                    {{ product.qty }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="modal-btns">
                                        <button class="buy-btn" id="buy-btn-{{ product.id }}">Sotib olish</button>
                                        <div class="counter">
                                            <button class="minus" id="remove-{{ product.id }}">-</button>
                                            <span class="product-number" id="product-number-{{ product.id }}">0</span>
                                            <button class="plus" id="add-{{ product.id }}">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Modal End-->
                    {% endfor %}
                    <!-- Item End-->
                </div>
            </div>
        </div>
    </section>
    <!-- Section 2 End -->

    {% if news %}
        <!-- Section 3 -->
        <section class="section-3">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">YANGILIKLAR</h2>
                    <div class="lr-btns">
                        <button class="arrow-btn left-btn" id="new_prev">
                            <img src="{% static 'images/icons/leftarrow.svg' %}" alt="left"/>
                        </button>
                        <button class="arrow-btn right-btn active" id="new_next">
                            <img src="{% static 'images/icons/rightarrow.svg' %}" alt="right"/>
                        </button>
                    </div>
                </div>
                <div class="section-banner">
                    <div class="row news">
                        <!-- Item -->
                        {% for yangilik in news %}
                            <div class="banner-item padd-15">
                                <div class="box" id="new_box">
                                    <div class="box-info">
                                        <h3 class="title">
                                            {{ yangilik.title }}
                                        </h3>
                                        <a class="more-btn" href="#">
                                            Batafsil
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                    <div class="box-img">
                                        <img src="{{ yangilik.image.url }}" alt="img"/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Item End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Section 3 End -->
    {% endif %}

    <!-- Section 4 -->
    {% if stocks %}
        <section class="section-4">
            <div class="container">
                <h2 class="section-title">AJOYIB CHEGIRMALAR</h2>
                <div class="section-banner">
                    <div class="row sale">
                        <!-- Item -->
                        {% for stock in stocks %}
                            <div class="banner-item padd-15">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ stock.get_images.image1 }}" alt="img"/>
                                    </div>
                                    <div class="card-info">
                                        <div class="price">
                                            <div class="price">
                                                <div class="current-price">
                                                    <span class="count">{{ stock.get_price.price }}</span>
                                                    <span class="money">so'm</span>
                                                    /
                                                    <span class="price-type">
                                                        {{ stock.qty }}
                                                    </span>
                                                </div>
                                                <div class="old-price" style="color: red">
                                                    <span class="count">{{ stock.get_price.old_price }}</span>
                                                    <span class="money">so'm</span>
                                                    /
                                                    <span class="price-type">
                                                        {{ stock.qty }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="product-name">
                                            {{ stock.name }}
                                        </span>
                                        <button class="add-cart__btn" onclick="modal_func({{ stock.id }})">
                                            Savatchaga qo’shish
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Item End-->
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- Section 4 End -->

    <!-- Section 5 -->
    {% if stocks %}
        <section class="section-4">
            <div class="container">
                <h2 class="section-title">SIZ UCHUN MAXSUS</h2>
                <div class="section-banner">
                    <div class="row sale">
                        <!-- Item -->
                        {% for stock in stocks %}
                            <div class="banner-item padd-15">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ stock.get_images.image1 }}" alt="img"/>
                                    </div>
                                    <div class="card-info">
                                        <div class="price">
                                            <div class="price">
                                                <div class="current-price">
                                                    <span class="count">{{ stock.get_price.price }}</span>
                                                    <span class="money">so'm</span>
                                                    /
                                                    <span class="price-type">
                                                        {{ stock.qty }}
                                                    </span>
                                                </div>
                                                <div class="old-price" style="color: red">
                                                    <span class="count">{{ stock.get_price.old_price }}</span>
                                                    <span class="money">so'm</span>
                                                    /
                                                    <span class="price-type">
                                                        {{ stock.qty }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="product-name">
                                            {{ stock.name }}
                                        </span>
                                        <button class="add-cart__btn" onclick="modal_func({{ stock.id }})">
                                            Savatchaga qo’shish
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Item End-->
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- Section 5 End -->

    {% include 'banner.html' %}
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}